css{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: optma, sans-serif;
    font-weight: 500px;
    font-size: 22px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f4f7;
}

input{
    margin: 2px;
    border: none;
    border-radius: 50px;
}

input[type=text]{
    width: calc(100% - 7px);
    height: 40px;
    background-color: #f7f4f7;
}

input[type=button]{
    width: 100px;
    height: 50px;
    background-color: #ebe3e3;
    font-weight: bold;
    transition: ease 0,2s;
    cursor: pointer;
}

div#calculadora {
    box-shadow: 2px 2px 20px black;
    border-radius: 15px;
    width: 250px;
    height: 320px;
    padding: 5px;
    background: rgb(78, 76, 76);
   }

div#calculadora div{
    display: flex;
}

div#calculadora div input:nth-child(4){
    background-color:  #f1bfde;
}

div#primeira input:nth-child(1){
    background-color: #c6e998;
}
div#quinta input:nth-child(1) {
    background:  #f1bfde;
}

div#quinta input:nth-child(3) {
    background: #c6e998;
}

input[type=button]:hover {
    filter: brightness(50%);
}

input[type=button]:active{
    transform: scale(0.9);
}






